*{
    margin: 0;
    padding:0;
}
body{
background: solid black;
}
#particles-js {
	background-color: rgb(13, 18, 20);
	background-image: linear-gradient(-225deg, rgb(48, 46, 59) 0%, rgb(48, 85, 100) 51%, #30D2BE 100%);
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 0
}
.list{
   width:100%;
   height: 10%;
   position: absolute;
}
.list ul li{
    display: inline-block;
    height: 5px;
    padding: 30px 80px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
}
.list li:hover{
    background: #4863A0;
}
.wrapper{
position: absolute;
top: 45%;
left: 40%;
transform: translate(-50%, -50%);
line-height: 1.6;
font-family: sans-serif;
}
.wrapper h3{
    padding: 0;
    margin: 0;
    color: #E18B6B;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 40px;
    font-weight: 500;
    width: 100%;
}
.wrapper h2{
    padding: 0;
    margin: 0;
    color: #800517;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 70px;
    font-weight: 500;
    width: 100%;
}
.change{
position: absolute;
top: 70%;
left: 110%;
transform: translate(-50%, -50%);
width: 100%;
display: inline-block;
}
.change h2{
    padding: 0;
    margin: 0;
    color: #800517;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 50px;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    margin:40px;
    }
span:before{
    content: '';
    margin:40px;
    animation: animate infinite 12s;
}

@keyframes animate{
    0%{
        opacity: 0;
        content:'Student';
    }
    25%{
        
        opacity: 1;
        content: 'Student';
    }
    26%{
        
        opacity: 0;
        content: 'Developer';
    }
    50%{
        
        opacity:1;
        content:'Developer';
    }
    51%{
        opacity: 0;
        margin-top: ' ';   
    }
    60%{
        opacity:0;
        content: 'Researcher';
    }
    85%{
        opacity: 1;
        margin-top: 60px;
        content:'Researcher';
        }
}
a{
text-decoration: none;
color: #E0FFFF;
}
a:hover {
  color: #C35617;
}
a:active {
  color: solid black;
}


























